.small-drop__content {
  background-color: var(--color-black);
  left: 0px;
  z-index: 1;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
  box-sizing: border-box;
}

.opened_drop .small-drop__content {
  height: auto;
}

.small-drop__content > * {
  opacity: 0;
  transform: translateY(-100%);
  filter: blur(5);
  transition: opacity 1s ease, transform 0.5s ease, filter 1s ease;
}

.opened_drop .small-drop__content > * {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.small-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
